
  $clr-bg-blending: #0000004d;

  $clr-neutral-light: #FFFFFF;
  $clr-neutral-medium-light: #E9E9E9;
  $clr-neutral-medium-dark: #737373;
  $clr-neutral-dark: #1A1A1A;

  $clr-papier: #D7BE9D;
  $clr-petrol: #006D7E;
  $clr-rosa: #EDD1C9;
  $clr-orange: #D77C12;
