.h1 {
    font-size:  var(--fs-h1); 
    font-family: $ff-headings;
    font-weight: 900;
    color: $clr-neutral-light;
  }
  
  .h2 {
    font-size: var(--fs-h2);
    font-family: $ff-headings;
    font-weight: 900;
  }
  
  .h3 {
    font-size: var(--fs-h3);
    font-family: $ff-headings;
    font-weight: 900;
  }
      
  .subheader {
    font-size: var(--fs-subhead);
    font-family: $ff-headings;
    font-weight: 400;
    color: $clr-neutral-light;
  }

  .paragraph {
    font-size: var(--fs-body);
    font-family: $ff-body;
    font-weight: 400;
  }
