
/* ================================================================================================
Page 1 (Header)
=================================================================================================== */

.header {
    background-blend-mode: overlay;
    background-color: $clr-bg-blending;
    background-image: url(../../assets/images/header_startseite.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    position: relative;
  }
  
  .h1__header {
    text-align: center;;
  }
  
  .header__subheader {
    text-align: center; 
  }

  .header__button {
    bottom: 6.0rem;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
  }
  
  
  /* ================================================================================================
  Page 2
  =================================================================================================== */
  
  .page-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16% 6.4%;
    height: auto;
  }
  
  .info-1 {
    width: 100%;
    max-width: 50.8rem;
  }
  
  .info-1__h2 {
    padding-bottom: 2rem;
  }
  
  .info-1__paragraph {
    padding-bottom: 2rem;
  }
  
  .page-2-details {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }
  
  .page-2-details__paragraph-1 {
    width: 14rem;
    padding-bottom: 4rem;
  }
  
  .page-2-details__paragraph-2 {
    width: 11rem;
    padding-bottom: 4rem;
  }
  
  .page-2__img-1 {
    width: 80%;
    align-self: flex-end;
    padding-bottom: 4rem;
  }
  
  .info-2 {
    max-width: 42rem;
  }
  
  .info-2__h3 {
    padding-bottom: 1.2rem;
  }
  
  .info-2__paragraph {
    padding-bottom: 4rem;
  }
  
  .page-2__img-2 {
    width: 80%;
    align-self: flex-start;
  }
  
  
  /* Herkunft subsection 
  =================================================================================================== */
  
  .herkunft-subsection {
    background-image: url(../../assets/images/bags_2.jpg);
    background-color: $clr-bg-blending;
    background-blend-mode: overlay;  
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .herkunft-subsection__article {
    text-align: center;
    max-width: 50%;
  }
  
  .herkunft-subsection__h3 {
    color: $clr-neutral-light;
    padding-bottom: 2vh;
  }
  
  .herkunft-subsection__paragraph {
    color: $clr-neutral-light;
    padding-bottom: 2vh;
    max-width: 30rem;
  }
  
  /* ================================================================================================
  Page 4
  =================================================================================================== */
  .page-4 {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6rem 6.4% 6.2rem 6.4%;
  }
  
  .page-4__h3 {
    margin-bottom: 3.5rem;
    width: 100%;
    text-align: center;
  }
  
  .page-4__img {
    width: 58%;
    margin-bottom: 4.4rem;
  }
  
  .page-4__description {
    display: flex;
    width: 100%;
    max-width: 40rem;
    flex-wrap: wrap;
  }
  
  .item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    align-items: center;
    margin-bottom: 6vh;
  }
  
  .item-description__img {
    align-items: center;
    margin-bottom: 2.4rem;
  }
  
  .item-description__paragraph {
    text-align: center; /* tirar isso na media query */
    font-weight: 500;
    width: min-content;
  }
  
  .page-4__button {
    margin: 0 auto;
    
  }

  @media (min-width: $breakpoint-small) {
    
    .page-2 {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 8.8% 7%;
    }
    
    .info-1 {
      width: 40%;
      order: 1;
    }
    
    .info-1__h2 {
      padding-bottom: 3.5rem;
    }
    
    .info-1__paragraph {
      padding-bottom: 3.5rem;
    }
    
    .page-2-details {
      width: 88%;
    }
    
    .page-2-details__paragraph-1 {
      width: 65%;
      padding-bottom: 4rem;
    }
    
    .page-2-details__paragraph-2 {
      width: 35%;
      padding-bottom: 4rem;
    }
    
    .page-2__img-1 {
      width: 44%;
      padding-bottom: 12rem;
      order: 2;
    }
    
    .info-2 {
      width: 40%;
      order: 4;
      margin: 0 auto;
    }
    
    .info-2__h3 {
      padding-bottom: 1.2rem;
    }
    
    .info-2__paragraph {
      padding-bottom: 4rem;
    }
    
    .page-2__img-2 {
      width: 48%;
      order: 3;
    }
    

/////////////////////////////////////////////////////////////////////////////////
    .page-4 {
      padding: 12.5rem 6.4% 12.5rem 6.4%;;
    }

    .page-4__h3 {
      margin-bottom: 8.8rem;
    }

    .page-4__img {
      width: 42%;
    }

    .page-4__description {
      flex-direction: column; 
      width: 50%;
      align-items: center;
    }
    
    .item-description { 
      flex-direction: row; 
      margin-bottom: 12vh;
    }
    
    .item-description__img {
      margin: 0 3.4rem 0 0; 
    }
    
    .item-description__paragraph {
      text-align: left; /* tirar isso na media query */
    }
    
  }
  
  @media (min-width: $breakpoint-medium) {
    
  }
  
  @media (min-width: $breakpoint-large) {
  
  }
  
  @media (min-width: $breakpoint-xlarge) {
   
  }
  
  @media (min-width: $breakpoint-xxlarge) {
    
  }







  @media (min-width: 568px) {


  }
  
  @media (min-width: 1040px) {
    
  }
  