//NAV DARK
.nav-dark > nav > a > img { filter: none; }

.product-container {
    padding: 7.5rem 6.4% 4rem 6.4%;
    display: flex;
    flex-wrap: wrap;
    gap: 8vw;
}

.product-img {
    width: 100%;
    background-color: $clr-papier;
}

.quantity {
    width: 100%;
}

.product__button {
    margin: 0 auto;
}

.product-detail {
    display: flex;
}