
.das-cafe_header {
    background-blend-mode: overlay;
    background-color: $clr-bg-blending;
    height: 50vh;
    background-image: url(../../assets/images/shop.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

  .das-cafe_h1 {
    visibility: hidden;
  }

  .das-cafe__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15.4% 6.4%;
    height: auto;
  }
  
  .das-cafe_info-1 {
    width: 100%;
    max-width: 50.8rem;
  }
  
  .das-cafe__h2 {
    padding-bottom: 2rem;
  }
  
  .das-cafe__paragraph {
    padding-bottom: 2rem;
  }
  
  .das-cafe-details {
    display: flex;
    width: 88%;
    justify-content: space-between;
  }
  
  .das-cafe__paragraph-1 {
    width: 14rem;
    padding-bottom: 4rem;
  }
  
  .das-cafe__paragraph-2 {
    width: 11rem;
    padding-bottom: 4rem;
  }
  
  .das-cafe__img-1 {
    width: 80%;
    padding-bottom: 4rem;
    align-self: flex-end;
  }

  .das-cafe__paragraph-3 {
    padding-bottom: 5rem;
  }

  
.gallery {
  width: 100vw;
  /* height_gallery = 3 * 20px + 2x height short image + 2 * height long image */
  height: calc( 3 * 20px + 2 * $mobile-img-width * 0.9 + 2 * $mobile-img-width * 1.7 );
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.img {
  width: $mobile-img-width;
}
.short-img {
  height: calc( $mobile-img-width * 0.9);
}
.long-img {
  height: calc( $mobile-img-width * 1.7);

}

/////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: $breakpoint-small) {
  .das-cafe__container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8.8% 7%;
  }

  .das-cafe_info-1 {
    width: 44%;
    order: 1;
  }

  .das-cafe__h2 {
    padding-bottom: 3.5rem;

    &:last-of-type {
      width: 16ch;
    }
  }
  
  .das-cafe__paragraph {
    padding-bottom: 3.5rem;
  }
  
  .das-cafe-details {
    width: 88%;
  }
  
  .das-cafe-details__paragraph-1 {
    width: 65%;
    padding-bottom: 4rem;
  }
  
  .das-cafe-details__paragraph-2 {
    width: 35%;
    padding-bottom: 4rem;
  }

  .das-cafe__img-1 {
    width: 44%;
    padding-bottom: 12rem;
    order: 2;
  }
  
  .das-cafe-details-2 {
    width: 50%;
    max-width: 61.2rem;
    order: 3;
    margin: 0 auto;
  }

  .gallery {
    order: 4;
  }  
}

@media (min-width: $breakpoint-medium) {

    .gallery {
        /* height_gallery_desk = 20px + height short image + height long image */
        height: calc( 20px + $desktop-img-width * 0.9 + $desktop-img-width * 1.7 );
    }
    .img {
        width: $desktop-img-width;
    }
    .short-img {
      height: calc( $desktop-img-width * 0.9);
    }
    .long-img {
        height: calc( $desktop-img-width * 1.7);
    }
    #one {order: 1;}
    #two {order: 4;}
    #three {order: 2;}
    #four {order: 3;}
    #five {order: 6;}
    #six {order: 5;}
    #seven {order: 7;}
    #eight {order:8;}
}

@media (min-width: $breakpoint-large) {

}

@media (min-width: $breakpoint-xlarge) {

}

@media (min-width: $breakpoint-xxlarge) {
  
}
