.header {
  background-blend-mode: overlay;
  background-color: var(--clr-bg-blending);
  background-image: url(../../assets/images/FEND-Coffee-latte-art-3.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  position: relative;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 6.4%;
  position: absolute;
  top: 1.2rem;
  width: 100%;
}

.nav__logo {
  height: 3.5rem;
  width: 3.5rem;
  filter: invert(99%) sepia(6%) saturate(0%) hue-rotate(76deg) brightness(103%) contrast(105%);
}

.nav__menu {
  height: 2.5rem;
  width: 2.5rem;
  filter: invert(99%) sepia(6%) saturate(0%) hue-rotate(76deg) brightness(103%) contrast(105%);
}

.h1__header {
  text-align: center;
}

.header__subheader {
  text-align: center; 
}

.header__button {
  bottom: 6.0rem;
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%);
}

.button--medium-dark:hover {
  background: #3A3734;
}
.button--papier:active {
  background: var(--clr-papier);
}