
.page-3 {
    background-color: var(--clr-neutral-dark);
    height: auto;
    padding: 16% 6.4%;
    position: relative;
  }
  
  .page-3__h2 {
    color: var(--clr-neutral-light);
    width: 16ch;
    padding-bottom: 4rem;
  }
  
  .shop-preview {
    display: flex;
    width: 100%;
    max-width: 100rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .product-preview {
    width: calc((100% - 20px)/2);
    padding-bottom: 2rem;
  }
  
  .product-preview__subheader {
    color: var(--clr-neutral-light);
  }
  
  .product-preview__paragraph {
    color: var(--clr-neutral-medium-dark);
  }
  
  .product-preview__img {
    width: 100%;
    padding-bottom: 1.1rem;
  }
  
  .product-preview__svg {
    filter: invert();  /* IMPORTANT: function also affects the color of any element with this class. Ex.: border*/
    padding-top: 0.6vh; 
    padding-bottom: 4.1rem;
    height: 3vh;
    display: inline-block;
  }
  
  .page-3__button {
    border: 3px solid var(--clr-neutral-light);
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
  }
  
  