<footer class="footer">
  <section class="footer-logo">
    <img class="footer-logo__svg" src="../assets/icons/logo.svg" alt="Logo" />
    <div>
      <h2 class="footer-logo__h2">Rustica</h2>
      <p class="subheader footer-logo__subheader">Café & Rösterei</p>
    </div>
  </section>
  <section class="footer-details">
    <p class="paragraph / footer-details__paragraph-1">
      Fraunhoferstr. 13, Kiel
    </p>
    <p class="paragraph / footer-details__paragraph-2">
      Mo–Fr 8–18 Uhr Sa 11–18 Uhr
    </p>
  </section>
  <section class="footer-nav">
    <ul class="footer-nav__ul" role="0">
      <div class="footer-nav__li">
        <li>
          <a class="footer-nav__li__a" href="">Impressum</a>
        </li>
        <li>
          <a class="footer-nav__li__a" href="">Datenschutz</a>
        </li>
      </div>
      <div class="footer-nav__li">
        <li>
          <a class="footer-nav__li__a" href="../sub-page/dascafe.html">Café</a>
        </li>
        <li>
          <a class="footer-nav__li__a" href="">Shop</a>
        </li>
        <li>
          <a class="footer-nav__li__a" href="">Herkunft</a>
        </li>
      </div>
    </ul>
  </section>
</footer>