<footer class="footer">
  <article class="footer-logo">
    <img class="footer-logo__svg" src="../assets/icons/logo.svg" alt="Logo" />
    <div>
      <h2 class="footer-logo__h2">Rustica</h2>
      <p class="subheader footer-logo__subheader">Café & Rösterei</p>
    </div>
  </article>
  <article class="footer-details">
    <div class="footer-container__p">
      <p class="paragraph / footer-details__paragraph-1">
      Komm uns Besuch! Fraunhoferstr. 13, Kiel
      </p>
    </div>
    <div class="footer-container__p">
      <p class="paragraph / footer-details__paragraph-2">
        Mo–Fr 8–18 Uhr Sa 11–18 Uhr
      </p>
    </div> 
  </article>
  

  <ul class="footer-links footer-links__ul-1" role="0">
    <li>
      <a class="footer-links__a" href="../impressum/index.html">Impressum</a>
    </li>
    <li>
      <a class="footer-links__a" href="../impressum/index.html">Datenschutz</a>
    </li>
  </ul>
  <ul class="footer-links footer-links__ul-2">
    <li>
      <a class="footer-links__a" href="../cafe/index.html">Café</a>
    </li>
    <li>
      <a class="footer-links__a" href="../shop/index.html">Shop</a>
    </li>
    <li>
      <a class="footer-links__a" href="../herkunft/index.html">Herkunft</a>
    </li>

  </ul>
</footer>