<footer class="footer">
  <section>
    <img class="footer__svg" src="elements/Logo.svg" alt="Logo" />
    <div>
      <h2 class="footer__h2">Rustica</h2>
      <p class="subheader footer__subheader">Café & Rösterei</p>
    </div>
  </section>
  <section class="footer-details">
    <p class="paragraph / footer-details__paragraph-1">
      Fraunhoferstr. 13, Kiel
    </p>
    <p class="paragraph / footer-details__paragraph-2">
      Mo–Fr 8–18 Uhr Sa 11–18 Uhr
    </p>
  </section>
  <section>
    <ul class="footer-ul">
      <div class="footer-li">
        <li>
          <a class="footer-li__a" href="">Impressum</a>
        </li>
        <li>
          <a class="footer-li__a" href="">Datenschutz</a>
        </li>
      </div>
      <div class="footer-li">
        <li>
          <a class="footer-li__a" href="">Café</a>
        </li>
        <li>
          <a class="footer-li__a" href="">Shop</a>
        </li>
        <li>
          <a class="footer-li__a" href="">Herkunft</a>
        </li>
      </div>
    </ul>
  </section>
</footer>