<nav class="nav">
    <a href="">
        <img class="nav__logo" src="../assets/icons/Logo.svg"/>
    </a>
    <a href="">
        <img class="nav__menu" src="../assets/icons/Burger Menu.svg" />
    </a>
</nav>