<nav class="nav">
    <a href="">
        <img class="nav__logo" src="../assets/icons/logo.svg" alt="Logo">
    </a>
    <a href="">
        <img class="nav__menu" src="../assets/icons/burger_menu.svg" alt="Hamburger menu">
    </a>
</nav>