<nav class="nav">
    <a href="">
        <img class="nav__logo" src="../assets/icons/logo.svg"/>
    </a>
    <a href="">
        <img class="nav__menu" src="../assets/icons/burger_menu.svg"/>
    </a>
</nav>