<section class="section-products">
  <h2 class="h2 / section-products__h2">Entdecke unsere Kaffee Sorten</h2>
  <div class="shop-preview">
    <article class="product-preview">
      <div>
        <img class="product-preview__img" src="../assets/images/costa_rica_1.jpg" alt="Kaffee verpackung" />
      </div>
      <p class="subheader product-preview__subheader">Costa Rica</p>
      <p class="paragraph product-preview__paragraph">6,90€ – 26,90€</p>
      <div>
        <img class="product-preview__svg" src="../assets/icons/icon_kaffee_bohnen.svg" alt="Kaffe Bohnen" />
        <img class="product-preview__svg" src="../assets/icons/icon_french_press.svg" alt="French Press" />
        <img class="product-preview__svg" src="../assets/icons/icon_kaffe_schaufel.svg" alt="Kaffee Schaufel" />
      </div>
    </article>
    <article class="product-preview">
      <div>
        <img class="product-preview__img" src="../assets/images/costa_rica_1.jpg" alt="Kaffee verpackung" />
      </div>
      <p class="subheader product-preview__subheader">Costa Rica</p>
      <p class="paragraph product-preview__paragraph">6,90€ – 26,90€</p>
      <div>
        <img class="product-preview__svg" src="../assets/icons/icon_kaffee_bohnen.svg" alt="Kaffe Bohnen" />
        <img class="product-preview__svg" src="../assets/icons/icon_french_press.svg" alt="French Press" />
        <img class="product-preview__svg" src="../assets/icons/icon_kaffe_schaufel.svg" alt="Kaffee Schaufel" />
      </div>
    </article>
    <article class="product-preview">
      <div>
        <img class="product-preview__img" src="../assets/images/costa_rica_1.jpg" alt="Kaffee Verpackung" />
      </div>
      <p class="subheader product-preview__subheader">Costa Rica</p>

      <p class="paragraph product-preview__paragraph">6,90€ – 26,90€</p>

      <div>
        <img class="product-preview__svg" src="../assets/icons/icon_kaffee_bohnen.svg" alt="Kaffe Bohnen" />

        <img class="product-preview__svg" src="../assets/icons/icon_french_press.svg" alt="French Press" />

        <img class="product-preview__svg" src="../assets/icons/icon_kaffe_schaufel.svg" alt="Kaffee Schaufel" />

      </div>
    </article>
    <article class="product-preview">
      <div>
        <img class="product-preview__img" src="../assets/images/costa_rica_1.jpg" alt="Kaffee verpackung" />
      </div>
      <p class="subheader product-preview__subheader">Costa Rica</p>

      <p class="paragraph product-preview__paragraph">6,90€ – 26,90€</p>

      <div>
        <img class="product-preview__svg" src="../assets/icons/icon_kaffee_bohnen.svg" alt="Kaffe Bohnen" />

        <img class="product-preview__svg" src="../assets/icons/icon_french_press.svg" alt="French Press" />

        <img class="product-preview__svg" src="../assets/icons/icon_kaffe_schaufel.svg" alt="Kaffee Schaufel" />

      </div>
    </article>
  </div>

  <a href="" class="button | section-products__button | button--hover | button--active">alle Produkte</a>
</section>