*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    box-sizing: border-box;
  }

img,
picture {
  max-width: 100%;
  display: block;
}

/* Typography classes */

.h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-headings);
  line-height: var(--line-height-headings);
  font-weight: 900;
  color: var(--clr-neutral-light);
}

.h2 {
  font-size: var(--fs-h2);
  line-height: var(--line-height-headings);
  font-family: var(--ff-headings);
  font-weight: 900;
}

.h3 {
  font-size: var(--fs-h3);
  line-height: var(--line-height-headings);
  font-family: var(--ff-headings);
  font-weight: 900;
}
    
.subheader {
  font-size: var(--fs-subhead);
  /* line-height: var(--line-height-subhead); */
  font-family: var(--ff-headings);
  font-weight: 400;
  color: var(--clr-neutral-light);
   
}

.paragraph {
  font-size: var(--fs-body);
  line-height: var(--line-height-body);
  font-family: var(--ff-body);
  font-weight: 400;
}

.button {
  background-color: var(--clr-neutral-dark);
  border-radius: 0.5rem;
  color: var(--clr-neutral-light);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  padding: 1.5rem  5.0rem;
  text-align: center;
  text-decoration: none;
  width: fit-content;
}

