:root {
  /* Colors
  =================================================================================================== */
   
    --clr-bg-blending: #0000004d;
  
    --clr-neutral-light: #FFFFFF;
    --clr-neutral-medium-light: #E9E9E9;
    --clr-neutral-medium-dark: #737373;
    --clr-neutral-dark: #1A1A1A;
  
    --clr-papier: #D7BE9D;
    --clr-petrol: #006D7E;
    --clr-rosa: #EDD1C9;
    --clr-orange: #D77C12;
  
  /* Typography 
  =================================================================================================== */
  
  /* Mobile */
    --ff-headings: 'Roboto', sans-serif;
    --ff-body: 'Roboto', sans-serif;
  
    --fs-h1: 6.4rem;
    --fs-h2: 3.6rem;
    --fs-h3: 3.2rem;
  
    --fs-subhead: 1.8rem;
    --fs-body: 1.4rem;
  
    --fs-header-footer: 2.4rem;
}