.footer {
    background-color: var(--clr-neutral-dark);
    height: auto;
    padding: 16% 6.4% 14% 6.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .footer__svg {
    filter: invert();
    align-self: start;
    width: 3.5rem;
    padding-bottom: 1.5rem;
  }
  
  .footer__h2 {
    font-family: var(--ff-headings);
    font-size: var(--fs-header-footer);
    font-weight: 900;
    color: var(--clr-neutral-light);
  }
  
  .footer__subheader {
    color: var(--clr-neutral-light);
    font-size: var(--fs-subhead);
    padding-bottom: 5.1rem;
  }
  
  .footer-details {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 2.6rem;
  }
  