.footer {
  background-color: $clr-neutral-dark;
  height: auto;
  padding: 16% 6.4% 14% 6.4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-logo {

    &__svg {
      filter: invert(99%) sepia(6%) saturate(0%) hue-rotate(76deg) brightness(103%) contrast(105%);
      align-self: start;
      width: 3.5rem;
      padding-bottom: 1.5rem;
    }

    &__h2 {
      font-family: $ff-headings;
      font-size: var(--fs-header-footer);
      font-weight: 900;
      color: $clr-neutral-light;
    }

    &__subheader {
      color: $clr-neutral-light;
      font-size: var(--fs-subhead);
      padding-bottom: 5.1rem;

    }
  }

  &-details {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 2.6rem;
    max-width: 34rem;

    &__paragraph-1 {
      width: 24ch;
      color: $clr-neutral-light;
    }

    &__paragraph-2 {
      width: 14ch;
      color: $clr-neutral-light;
    }
  }

  &-nav {
    // width: auto;

    &__ul {
      display: flex;
      justify-content: space-between;
      width: 70%;
    }

    &__li {
      width: 50%;
      max-width: 20%;

      &__a {
        text-decoration: none;
        color: $clr-neutral-light;
        font-size: var(--fs-body);
        font-family: $ff-body;
        font-weight: 400;
      }
    }
  }
}



@media (min-width: $breakpoint-small) {
  .footer {
    //padding: 16% 7% 14% 7%;
    flex-direction: row;
    
    align-items: first baseline;

    &-details {
      flex-direction: column;
      gap: 2.4rem;
      
    }

    &-nav {

      width: 40%;
      justify-content: space-between;

      &__ul {
        flex-direction: row-reverse;
      }

      &__li {
        
      }

    }
  }
}

@media (min-width: $breakpoint-medium) {
  
  .footer {
    padding: 16% 7% 14% 7%;
    flex-direction: row;

  }
}

@media (min-width: $breakpoint-large) {

  .footer {
    padding: 16% 7.4% 14% 7.4%;
  }

  .footer-logo__svg {
    width: 7rem;
  }
}

@media (min-width: $breakpoint-xlarge) {
  
  .footer {
    padding: 12% 7.8%;
  }
  
}

@media (min-width: $breakpoint-xxlarge) {
  
  .footer {
    padding: 12% 8%;
  }
}